<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center text-light">Edit Hostel</h1>
    <div class="col-6 offset-3">
        <form action="/hostels/<%=hostel._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label text-light" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="hostel[title]"
                    value="<%=hostel.title %>" required>
                <div class="valid-feedback">
                    Good to go !!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label text-light" for="location" >Location</label>
                <input class="form-control" type="text" id="location" name="hostel[location]"
                    value="<%=hostel.location %>" required>
                <div class="valid-feedback">
                    Good to go !!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label text-light" for="price">Hostel Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">Rs</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="hostel[price]" value="<%=hostel.price %>"
                        required>\<div class="valid-feedback">
                        Good to go !!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label text-light" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="hostel[description]"
                    required><%= hostel.description%></textarea>
                <div class="valid-feedback">
                    Good to go !!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add more image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <% hostel.images.forEach(function(img, i) {  %>

                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label class="text-light" for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>
            <div class="mb-3">
                <button class="btn btn-info text-light">Update Hostel</button>
            </div>
        </form>
        <a class="btn btn-primary" href="/hostels/<%= hostel._id%>">Back To Hostel</a>

    </div>
</div>